* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Ubuntu';
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

ol {
    list-style-type: none;

}

ul {
    list-style-type: none;

}

html {
    font-size: 62.5%;
    height: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}