/* CSS hero */
p {
    font-size: 1.5rem;
}

h1 {
    font-weight: 400;
    font-size: $h1;
}

.hero {
    background-image: url(../img/paisaje.jpg);
    animation: background-aparece 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
@keyframes background-aparece{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero__title {
    display: inline-block;
    padding: 6rem 1rem 1rem 4rem;

    h1{
        font-size: 6rem;
    }
}

.hero__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}



.desc {
    position: relative;
    font-style: italic;
    padding-bottom: 2rem;
    font-size: 2rem;
}

/* Termina CSS Hero Index*/



/* Parrafos Index */
.contenedorParrafos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
    margin: 7rem 3rem 4rem 3rem;
}

.der {
    margin-top: 3rem;
}

h3 {
    font-size: 2rem;
    color: #04a5e4;
    font-style: oblique;
}

#info {
    background: linear-gradient(to right, #04a5e4, #6fd6ff);
    color: aliceblue;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
    font-style: italic;
}
#info:hover{
    transition:all 0.5s ease;
    color: black;

}




/* Termina parrafos Index */