@import "maps";
@import "variables";
@import "mixins";
@import "global";
@import "header";
@import "index";
@import "footer";
@import "contacto";
@import "multimedia";
@import "tarifario";
@import "informacion";


@include tablet{
    #tablaTarifario th{
        border: none;
    }
    #tablaTarifario tr, td{
        border: none;
    }


    .informacion__contenido {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "actividades temporada competencias"
            "estadia estadia estadia"
        ;
    }

    .informacion__actividades {
        grid-area: actividades;
    }

    .informacion__temporada {
        grid-area: temporada;
    }

    .informacion__competencias {
        grid-area: competencias;
    }

    .informacion__intro {
        width: 35%;

    }

    .informacion__estadia {

        grid-area: estadia;
    }

    .informacion__estadia img {
        width: 40%;

    }

    .contenedor__fotos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;

        margin-top: 2rem;
    }
    .grid_galeria {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }

    .grid_galeria img {
        width: 500px;

    }

    .contenedor__videos iframe {
        align-self: center;
        padding-top: 5rem;
        justify-content: center;
        height: 400px;
        width: 700px;
    }
    #nombre {
        display: flex;
        
    }
    .contenedorParrafos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }


    .der {
        width: 40%;

    }

    .izq {
        width: 40%;
    }

    .contenedorParrafos div p {
        text-align: center;
    }

    .contenedorParrafos h3 {
        text-align: center;


    }

    .botones {

        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
    }
    .der div {
        display: inline-block;
        position: relative;
    }
    .navBackground {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

    }

    .navBackground img {
        width: 130px;

    }
    .nav__toggle{
        display: none;
    }

    .nav__list {
        display: flex;

    }

    .nav__item {
        font-size: 2.5rem;
        padding-left: 2rem;
    }
}